/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f6f7fb;
    --white-color: #fff;
    --black-color: #18191a;
    --red-color: #e74c3c;
  }

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

body.dark {
    --primary-color: #242526;
    --white-color: #18191a;
    --black-color: #fff;
    --red-color: #e74c3c;
  }

.mode-switch {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    display: inline-block;
    color: var(--white-color);
    background: var(--black-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .mode-switch:active {
    transform: scale (0.98);
  }

  .container {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    display: flex;
    height: 500px;
    width: 600px;
    border-radius: 50%;
    justify-content: center;
    background: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.1);
    position: relative;
  }

h1 {
    font-size: 24px;
    margin: 20px 0;
}

/* Form styling */
#temperature-form {
    margin: 0 auto;
    align-items: center;
    width: 100%;
    display: flex;
    text-align: center; /* Align the form content to the left */
}

/* Style for the arrow element */
.temperature-arrow {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    background-image: url('arrow.svg'); /* Replace 'arrow.png' with your arrow icon image path */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px; /* Add some spacing around the arrow */
}


/* Style for individual dropdowns */
select {
    width: 19%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--black-color);
}

#temperature-input {
    outline: none; 
    border: none;
    
    width: 15%;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 50px;
    border-bottom: 3px solid #bebebe;
    border-radius: 5px;
    background-color: var(--white-color);
}

button {
    width: auto;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(73, 72, 72)
}

/* Result styling */
#result {
    margin-top: 1px;
    width: 15%;
    padding: 20px;
    background-color: var(--white-color);
    border-bottom: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    align-items: center;
}
